body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0cap white solid 2px;
    gap: 50px;
    padding: 30px;
    border-radius: 10px;

    background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    font-size: 30px;
    color: brown;
    justify-content: center;
    margin-bottom: 12px;
    font-family: 'Lucida Handwriting', cursive;
}

input[type="text"],
input[type="password"] {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
}

input[type="submit"] {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: white;
    font-size: 16px;
    cursor: pointer;
}