body{
    background-color: rgb(239, 242, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: blueviolet;
    font-size: 45px;
}

main #input{
    background-color: rgb(202, 21, 21);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

main #list{
    margin-top: 20px;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"]{
    width: 300px;
    height: 30px;
    color: burlywood;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    background-color: black;
}

button{
    padding: 10px 15px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(173, 194, 19);
}