body {
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


.profile-card {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #1e90ff;
    object-fit: cover;
}


.profile-card h2 {
    color: #333;
    margin-top: 15px;
}

.profile-card p {
    color: #666;
    font-size: 14px;
    margin: 10px 0 20px;
}


.buttons button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.follow {
    background-color: #1e90ff;
    color: white;
    margin-right: 10px;
}

.message {
    background-color: white;
    color: #1e90ff;
    border: 2px solid #1e90ff;
}

.follow:hover {
    background-color: #0077cc;
}

.message:hover {
    background-color: #1e90ff;
    color: white;
}


.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}