body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: aqua;
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
}